<div class="pokemon-card" 
     [style.animation-delay.ms]="(index % 12) * 30"
     [style.--pokemon-bg]="'url(' + (imageError ? 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png' : pokemon.imageUrl) + ')'">
  <div class="card-inner">
    <div class="pokemon-image">
      <!-- Image Placeholder/Skeleton -->
      <div class="image-placeholder" 
           [ngClass]="{'hidden': imageLoaded}">
        <div class="placeholder-content">
          <div class="placeholder-pokeball">
            <div class="pokeball-top"></div>
            <div class="pokeball-middle"></div>
            <div class="pokeball-bottom"></div>
          </div>
        </div>
      </div>
      
      <!-- Actual Image with fixed dimensions to prevent layout shift -->
      <img [src]="imageError ? 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png' : pokemon.imageUrl" 
           [alt]="pokemon.name"
           [ngClass]="{'loaded': imageLoaded, 'loading': !imageLoaded}"
           (load)="onImageLoad()"
           (error)="onImageError($event)"
           width="96"
           height="96"
           loading="lazy">
    </div>
    <div class="pokemon-info">
      <div class="pokemon-id">#{{ pokemon.id.toString().padStart(3, '0') }}</div>
      <h3 class="pokemon-name">{{ pokemon.name | titlecase }}</h3>
      <div class="pokemon-types" *ngIf="pokemon.types">
        <span *ngFor="let typeInfo of pokemon.types" 
              class="type-badge"
              [style.background-color]="getTypeColor(typeInfo.type.name)">
          {{ typeInfo.type.name | titlecase }}
        </span>
      </div>
    </div>
  </div>
</div>
